html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 930px){
  .container {
    width: 100%;
  }
}


/***** Header ******/

header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.banner {
  position: relative;
  top: 1rem;
  background-color: cadetblue;
  padding: 1rem 0 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.nav {
  display: flex;
}

.nav li {
  display: inline-block;
  padding-right: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

/***** Header Big Text ******/
.white-box {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.main-text {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

.main-text h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

@media only screen and (){

}

/***** Company Information ******/

  /***** Icons ******/

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  width: auto;
}

.icon p {
  text-align: center;
}

.icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.icon-image img {
  max-width: 5rem;
}

.exams img {
  width: 3.5rem;
}

  /***** Information ******/

.info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
}

.info-box {
  width: 43%;
}

.info-box p {
  margin-top: 1rem;
  padding-right: 10%;
}

.info-header {
  width: 10rem;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.info-header h2 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/***** Footer ******/

footer {
  background-color: azure;
}

.foot-info {
  display: flex;
  align-items: center;
  padding: 4rem 0 4rem 4rem;
}

.foot-info img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}
